---
extends: default

rules:
  line-length:
    max: 256
    level: warning
    ignore: |
      flux/manifests/01-bootstrap/flux-system/*
      helm/**/templates/*.yaml

  braces:
    level: warning
    ignore: |
      helm/**/templates/*.yaml

  indentation:
    ignore: |
      helm/**/templates/*.yaml

  # Adjust comments spacing rule to be compatible with prettier
  comments:
    min-spaces-from-content: 1  # Default is 2, but prettier uses 1
    level: warning  # Keep as warning instead of disabling completely

  # Other rules remain at their default settings
  document-start:
    present: true
    ignore: |
      helm/**/templates/*.yaml
  document-end: disable
  truthy:
    check-keys: false
