---
extends: default

rules:
  line-length:
    max: 120
    level: warning
    ignore: |
      flux/manifests/01-bootstrap/flux-system/*

  # Other rules remain at their default settings
  document-start: enable
  document-end: disable
  truthy:
    check-keys: false
